<div [hidden]="!showPreRegTerms">
  <h3>A few things to note before registration</h3>
  <ul>
    <li>Condition 1</li>
    <li>Condition 2</li>
    <li>Condition 3</li>
    <li>Condition 4</li>
    <li>Condition 5</li>
  </ul>
  <div class="card-container">
    <button class="card card-small" tabindex="0" (click)="displayRegForm()">
      <span>Agree</span>
    </button>

    <button class="card card-small" tabindex="0" (click)="routeToBeginPage()">
      <span>Disagree</span>
    </button>
  </div>
</div>
<div [hidden]="!showPhoneInput">
  <h3>Begin Campaign Registration</h3>
  <div class="wrapper">
    <div class="form">
      <!--<div class="inputfield">
        <label>First Name</label>
        <input type="text" class="input">
      </div>
      <div class="inputfield">
        <label>Last Name</label>
        <input type="text" class="input">
      </div>-->
      <div class="inputfield">
        <label>Phone Number</label>
        <input type="text" class="input">
      </div>
    </div>
  </div>
  <button class="card card-small" tabindex="0" (click)="displayOTPInput()">
    <span>Next</span>
  </button>
</div>
<div [hidden]="!showOTPInput">
  <h3>One Time Password</h3>
  <div class="wrapper">
    <div class="form">
      <div class="inputfield">
        <label>Enter One Time Password</label>
        <input type="text" class="input">
      </div>
    </div>
  </div>
  <button class="card card-small" tabindex="0" (click)="displayRegForm()">
    <span>Verify</span>
  </button>
  <button class="card card-small" tabindex="0">
    <span>Resend OTP</span>
  </button>
</div>
<div [hidden]="!showRegForm">
  <h3>Campaign Application</h3>
  <form [formGroup]="applicationForm" (ngSubmit)="submitCampaignerForm()">
    <div [hidden]="!showRegFormWrapper">
      <div class="wrapper">
        <div class="form">
          <div class="inputfield">
            <label>Phone Number</label>
            <input type="number" class="input" name="msisdn" formControlName="msisdn">
          </div>
          <div class="inputfield">
            <label>Campaign Name</label>
            <input type="text" class="input" name="campaignName" formControlName="campaignName">
          </div>
          <div class="inputfield">
            <label>Campaign Type</label>
            <div class="custom_select">
              <select formControlName="campaignType">
                <option value="">Select</option>
                <option value="Education Fund">Education Fund</option>
                <option value="Wedding Fund">Wedding Fund</option>
                <option value="Medical Fund">Medical Fund</option>
                <option value="Funeral Fund">Funeral Fund</option>
              </select>
            </div>
          </div>
          <div class="inputfield">
            <label>Target Amount</label>
            <input type="number" class="input" name="targetAmount" formControlName="targetAmount">
          </div>
          <div class="inputfield">
            <label>Campaign Start Date</label>
            <input type="date" class="input" name="startDate" formControlName="startDate">
          </div>
          <div class="inputfield">
            <label>Campaign End Date</label>
            <input type="date" class="input" name="endDate" formControlName="endDate">
          </div>
        </div>
      </div>
      <button class="card card-small" type="button" tabindex="0" (click)="displayConfirmPage()">
        <span>Complete</span>
      </button>
    </div>
    <div [hidden]="!showConfirm">
      <h5>Confirm Details</h5>
      <ul>
        <li>Phone Number: {{f.msisdn.value}}</li>
        <li>Campaign Name: {{f.campaignName.value}}</li>
        <li>Campaign Type: {{f.campaignType.value}}</li>
        <li>Target Amount: {{f.targetAmount.value}}</li>
        <li>Start Date: {{f.startDate.value}}</li>
        <li>End Date: {{f.endDate.value}}</li>
      </ul>
      <button [disabled]="applicationForm.invalid || showLoading" type="submit" class="card card-small" tabindex="0">
        <span [hidden]="!showLoading">Please wait...</span>
        <span [hidden]="showLoading">Confirm</span>
      </button>
      <button [hidden]="showLoading" type="button" class="card card-small" tabindex="0" (click)="cancelRegistration()">
        <span>Edit</span>
      </button>
    </div>
  </form>
</div>
<div [hidden]="!showActivationSuccess">
  <div class="card highlight-card card-small">
    <h2>Campaign Created!</h2>
  </div>
  <h4>Share with potential contributors:</h4>
  <h5>Your Campaign ID: <small>{{campaignId}}</small></h5>
  <h5>Or copy and share this url: <small>http://104.248.59.79:9000/afro-mxp/page/fund/{{campaignId}}</small></h5>
</div>
<div [hidden]="!showActivationFailed">
  <div class="card highlight-card card-small">
    <h2>Failed!</h2>
  </div>
  <h4>We were not able to create the campaign!</h4>
</div>
