<div [hidden]="!showPreRegTerms">
  <h3>A few things to note before registration</h3>
  <ul>
    <li>Condition 1</li>
    <li>Condition 2</li>
    <li>Condition 3</li>
    <li>Condition 4</li>
    <li>Condition 5</li>
  </ul>
  <div class="card-container">
    <button class="card card-small" tabindex="0" (click)="displayRegForm()">
      <span>Agree</span>
    </button>

    <button class="card card-small" tabindex="0" (click)="routeToBeginPage()">
      <span>Disagree</span>
    </button>
  </div>
</div>
<div [hidden]="!showPhoneInput">
  <h3>Begin Campaign Registration</h3>
  <div class="wrapper">
    <div class="form">
      <!--<div class="inputfield">
        <label>First Name</label>
        <input type="text" class="input">
      </div>
      <div class="inputfield">
        <label>Last Name</label>
        <input type="text" class="input">
      </div>-->
      <div class="inputfield">
        <label>Phone Number</label>
        <input type="text" class="input">
      </div>
    </div>
  </div>
  <button class="card card-small" tabindex="0" (click)="displayOTPInput()">
    <span>Next</span>
  </button>
</div>
<div [hidden]="!showOTPInput">
  <h3>One Time Password</h3>
  <div class="wrapper">
    <div class="form">
      <div class="inputfield">
        <label>Enter One Time Password</label>
        <input type="text" class="input">
      </div>
    </div>
  </div>
  <button class="card card-small" tabindex="0" (click)="displayRegForm()">
    <span>Verify</span>
  </button>
  <button class="card card-small" tabindex="0">
    <span>Resend OTP</span>
  </button>
</div>
<div [hidden]="!showRegForm">
  <h3>Campaign Application</h3>
  <form #campaignerForm="ngForm" (ngSubmit)="submitCampaignerForm(campaignerForm.value)">
    <div [hidden]="!showRegFormWrapper">
      <div class="wrapper">
        <div class="form">
          <div class="inputfield">
            <label>Phone Number</label>
            <input type="number" class="input" name="msisdn" ngModel #msisdnInput="ngModel">
          </div>
          <div class="inputfield">
            <label>Campaign Name</label>
            <input type="text" class="input" name="campaignName" ngModel #campaignNameInput="ngModel">
          </div>
          <div class="inputfield">
            <label>Campaign Type</label>
            <div class="custom_select">
              <select>
                <option value="">Select</option>
                <option value="female">Education Fund</option>
                <option value="female">Wedding Fund</option>
                <option value="male">Medical Fund</option>
                <option value="female">Funeral Fund</option>
              </select>
            </div>
          </div>
          <div class="inputfield">
            <label>Target Amount</label>
            <input type="number" class="input" name="targetAmount" ngModel #targetAmountInput="ngModel">
          </div>
          <div class="inputfield">
            <label>Campaign Start Date</label>
            <input type="date" class="input" name="startDate" ngModel #startDateInput="ngModel">
          </div>
          <div class="inputfield">
            <label>Campaign End Date</label>
            <input type="date" class="input" name="endDate" ngModel #endDateInput="ngModel">
          </div>
        </div>
      </div>
      <button class="card card-small" type="button" tabindex="0" (click)="displayConfirmPage()">
        <span>Complete</span>
      </button>
    </div>
    <div [hidden]="!showConfirm">
      <h5>Confirm Details</h5>
      <ul>
        <li>Phone Number:</li>
        <li>Campaign Name:</li>
        <li>Campaign Type:</li>
        <li>Target Amount:</li>
        <li>Start Date:</li>
        <li>End Date:</li>
      </ul>
      <button [disabled]="campaignerForm.invalid || showLoading" type="submit" class="card card-small" tabindex="0">
        <span [hidden]="!showLoading">Please wait...</span>
        <span [hidden]="showLoading">Confirm</span>
      </button>
      <button [hidden]="showLoading" class="card card-small" tabindex="0" (click)="cancelRegistration()">
        <span>Cancel</span>
      </button>
    </div>
  </form>
</div>

<div [hidden]="!showActivationSuccess">
</div>
<div [hidden]="!showActivationFailed">
</div>
