<div [hidden]="!showGetStarted">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <h2>Afro MXP</h2>
  </div>

  <p>AfroMXP is the one-stop crowd funding app for the continent</p>

  <h1>Get Started</h1>

  <input type="hidden" #selection>
  <div class="card-container">
    <button class="card card-small" tabindex="0" (click)="routeToCampaign()">
      <!--      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>-->
      <span>Create Campaign</span>
    </button>

    <button class="card card-small" tabindex="0" (click)="routeToContributor()">
      <!--      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>-->
      <span>Fund a Campaign</span>
    </button>
  </div>
</div>
