<!-- Highlight Card -->

<img src="assets/images/sikapa.png" alt="Sikapa" width="380" height="220">

<h1 class="get-started-text">{{title}}</h1>

<input type="hidden" #selection>
<div class="card-container" [hidden]="!showGetStarted">
  <div class="bottom">
    <button class="sikapa-btn" (click)="routeToContributor()">
      <span>Fund Campaign</span>
    </button>
    <button class="sikapa-btn" (click)="renderCreateCampaign()">
      <span>Create Campaign</span>
    </button>
  </div>
</div>

<div class="card-container" [hidden]="!showCreateCampaign">
  <div class="bottom">
    <button class="sikapa-btn" (click)="routeToCampaignReports()">
      <span>My Campaigns</span>
    </button>
    <button class="sikapa-btn" (click)="routeToCampaign()">
      <span>New Campaign</span>
    </button>
  </div>
</div>

