<div>
  <div class="card highlight-card card-small">
    <h2>{{pageTitle}}</h2>
  </div>
  <div [hidden]="!showLobbyRoomPage">
    <h4>FUND DETAILS</h4>
    <h5>Getting fund details...</h5>
  </div>
  <div [hidden]="!showCall2Action">
    <h4>FUND DETAILS</h4>
    <h5>Fund Name: {{campaignName}}</h5>
    <h5>Fund Type: {{campaignType}}</h5>
    <h5>Target Amount: {{targetAmount}}</h5>
    <h5>Fund Status: {{campaignStatus}}</h5>
    <hr>
    <form #fundingForm="ngForm" (ngSubmit)="fundCampaign(fundingForm.value)">
      <div [hidden]="!showFundingFormWrapper">
        <div class="wrapper">
          <div class="form">
            <div class="inputfield">
              <label>Phone Number</label>
              <input type="number" class="input" name="msisdn" ngModel required>
            </div>
            <div class="inputfield">
              <label>Amount</label>
              <input type="number" class="input" name="amount" ngModel required>
            </div>
          </div>
        </div>
        <button class="card card-small" type="button" tabindex="0" (click)="displaySTKAlert()">
          <span>Fund</span>
        </button>
      </div>
      <div [hidden]="!showPreSTKAlert">
        <h5>This will send an STK push to your phone. Confirm to proceed.</h5>
        <button [disabled]="showLoading" type="submit" class="card card-small" tabindex="0">
          <span [hidden]="!showLoading">Please wait...</span>
          <span [hidden]="showLoading">OK</span>
        </button>
      </div>
    </form>
  </div>
  <div [hidden]="!showWaitCallback">
    <h4>PAYMENT PROGRESS</h4>
    <h5>Please wait for payment confirmation...</h5>
  </div>
  <div [hidden]="!showSuccessFunding">
    <h4>PAYMENT PROGRESS</h4>
    <h5>Your payment has been received. Thank you for your contribution.</h5>
  </div>
  <div [hidden]="!showFailedFunding">
    <h4>PAYMENT PROGRESS</h4>
    <h5>Sorry. The payment was not successfully processed. Please try again later.</h5>
  </div>
</div>
