<div>

  <div [hidden]="!showLobbyRoomPage">
    <h5>Getting fund details...</h5>
  </div>
  <div [hidden]="!showCall2Action">
    <div class="info-outline">
      <ul style="list-style-type: none; text-align: left">
        <li>Fund Name: <span style="color: #A0A0A0">{{campaignName}}</span></li>
        <li>Fund Type: <span style="color: #A0A0A0">{{campaignType}}</span></li>
        <li>Target Amount: <span style="color: #A0A0A0">{{targetAmount | currency: 'KES'}}</span></li>
      </ul>
    </div>
    <div class="info-outline">
      <form #fundingForm="ngForm" (ngSubmit)="fundCampaign(fundingForm.value)">
        <div [hidden]="!showFundingFormWrapper" style="align-content: center">
          <div class="wrapper">
            <div class="form">
              <div class="inputfield">
                <!--              <label>Phone Number</label>-->
                <input type="number" class="input" name="msisdn" placeholder="Enter phone number" ngModel required>
              </div>
              <div class="inputfield">
                <!--              <label>Amount</label>-->
                <input type="number" class="input" name="amount" placeholder="Enter amount" ngModel required>
              </div>
            </div>
          </div>
          <button class="sikapa-btn" style="align-content: center" type="button" tabindex="0"
                  (click)="displaySTKAlert()">
            <span>Make Payment</span>
          </button>
        </div>
        <div [hidden]="!showPreSTKAlert" style="align-content: center">
          <p>This will send an STK push to your phone. Confirm to proceed.</p>
          <button class="sikapa-btn" [disabled]="showLoading" style="align-content: center" type="submit" tabindex="0">
            <span [hidden]="!showLoading">Please wait...</span>
            <span [hidden]="showLoading">OK</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="info-outline">
    <div [hidden]="!showWaitCallback">
      <h5>PAYMENT PROGRESS</h5>
      <p style="color: #A0A0A0">Please wait for payment confirmation...</p>
    </div>
    <div [hidden]="!showSuccessFunding">
      <h5 style="color: #22BB33">PAYMENT COMPLETED!</h5>
      <p style="color: #A0A0A0">Your payment transaction id <b>{{transactionId}}}</b> of <b>{{paidAmount | currency : 'KES'}}}</b> has been received.</p>
      <p style="color: #A0A0A0">Thank you for your contribution.</p>
    </div>
    <div [hidden]="!showFailedFunding">
      <h5 style="color: #E60000">PAYMENT FAILED!</h5>
      <p style="color: #A0A0A0">Sorry. The payment was not successfully processed. Please try again later.</p>
    </div>
  </div>
</div>
